.loading__box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 170px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 900;
    -webkit-text-stroke: 1px #7d5fff;
    color: transparent;
}

.loading__box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: text 2s ease-in-out forwards infinite;
}

.loading {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
        box-shadow: 1px 3px 2px #7d5fff;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 3px 2px #7d5fff;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 3px 2px #7d5fff;
    }
}

@keyframes text {
    0% {
        -webkit-text-stroke: 1px #7d5fff;
    }

    50% {
        -webkit-text-stroke: 1.5px #7d5fff;
    }

    100% {
        -webkit-text-stroke: 1px #7d5fff;
    }
}

.alert__notify__box__success,
.alert__notify__box__failed {
    position: fixed;
    top: 80px;
    right: -300px;
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    gap: 15px;
    width: 300px;
    transition: 0.5s;
}

.alert__notify__box__success.active,
.alert__notify__box__failed.active {
    right: 10px;
}

.alert__notify__box__success__close,
.alert__notify__box__failed__close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
}

.alert__notify__box__success {
    border-left: 5px solid #32ff7e;
}

.alert__notify__box__failed {
    border-left: 5px solid #ff3838;
}

.alert__notify__box__success__left,
.alert__notify__box__failed__left {
    font-size: 30px;
    align-items: center;
}

.alert__notify__box__success__left,
.alert__notify__box__success__close {
    color: #32ff7e;
}

.alert__notify__box__failed__left,
.alert__notify__box__failed__close {
    color: #ff3838;
}

.alert__notify__box__success__right,
.alert__notify__box__failed__right {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.alert__notify__box__success__right__title,
.alert__notify__box__failed__right__title {
    font-size: 15px;
    font-weight: 500;
}

.alert__notify__box__success__right__title {
    color: #32ff7e;
}

.alert__notify__box__failed__right__title {
    color: #ff3838;
}

.alert__notify__box__success__right__content,
.alert__notify__box__failed__right__content {
    font-size: 12px;
    color: #111;
    font-weight: 500;
}

.alert__notify__box__success__progress,
.alert__notify__box__failed__progress {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 3px;
    border-radius: 5px;
}

.alert__notify__box__success__progress.active,
.alert__notify__box__failed__progress.active {
    animation: progress 5s forwards;
}

.alert__notify__box__success__progress {
    background-color: #32ff7e;
}

.alert__notify__box__failed__progress {
    background-color: #ff3838;
}

@keyframes progress {
    100% {
        width: 0;
    }
}



.Order__Info__Container {
    width: 100%;
    height: 100vh;
    background-color: #060818;
    flex-direction: column;
}

.Order__Info__Container__Content {
    width: calc(100% - 250px);
    margin-left: 250px;
    background-color: #060818;
    flex-direction: column;
    padding: 90px 20px;
    gap: 20px;
}

.Order__Info__Content__Top {
    width: 100%;
    gap: 20px;
}

.Order__Info__Content__Top__Left,
.Order__Info__Content__Top__Right {
    border-radius: 10px;
    flex-basis: 50%;
    flex-direction: column;
    background-color: var(--bl-color);
    padding: 20px 0;
}

.Order__Info__Content__Top__Left__Title,
.Order__Info__Content__Top__Right__Title {
    color: #7d5fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    justify-content: space-between;
}

.Order__Info__Content__Top__Left__Info__Box,
.Order__Info__Content__Top__Right__Info__Box {
    width: 100%;
    gap: 20px;
    padding: 0 20px;
}

.Content__Info__Box {
    flex-direction: column;
    gap: 15px;
    flex-basis: 50%;
}

.Content__Info__Box__Item {
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.Content__Info__Box__Item label {
    color: #7d5fff;
    font-size: 14px;
    font-weight: 500;
}

.Content__Info__Box__Item input {
    width: 100%;
    height: 35px;
    border: 1px solid #7d5fff57;
    border-radius: 5px;
    background-color: #060818;
    outline: none;
    color: #fff;
    padding: 0 15px;
}

.Info__Address {
    padding: 15px 20px;
}

.Setup__Button__Group {
    gap: 10px;
}

.HandledButton {
    font-size: 13px;
    gap: 5px;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
}

#BtnHandled {
    background-color: #7d5fff;
}

#BtnCheck {
    background-color: #32ff7e;
}

#BtnCancel {
    background-color: #ff3838;
}

.table__order--container {
    width: 100%;
    flex-direction: column;
    gap: 5px;
    margin: 30px 0;
}

.table__order__thead {
    width: 100%;
    color: #bfc9d4;
    background-color: #191e3a;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
}

.table__order__thead__tr {
    width: 100%;
    align-items: center;
}

.table__order__thead__tr__th {
    gap: 5px;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    padding: 12px 10px;
}

.table__order__thead__tr__th svg {
    font-size: 11px;
    color: #7d5fff;
}

.table__order__tbody {
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.table__order__tbody__tr {
    width: 100%;
    transition: 0.2s;
    border-radius: 5px;
    cursor: pointer;
    align-items: baseline;
}

.table__order__tbody__tr:hover {
    background-color: #191e3a;
}

.table__order__tbody__tr:hover .openProductDetails {
    color: #191e3a;
    background-color: #7d5fff;
}


.table__order__tbody__tr__td {
    font-weight: 500;
    font-size: 13px;
    padding: 10px;
}

.Order__Info__Content__Bottom {
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;


    background-color: var(--bl-color);
}

.Order__Info__Content__Bottom__Title {
    color: #7d5fff;
    font-size: 20px;
    font-weight: 700;
}

.table__order__thead__tr__th:nth-child(1) {
    flex-basis: 10%;
}

.table__order__thead__tr__th:nth-child(2) {
    flex-basis: 30%;
}

.table__order__thead__tr__th:nth-child(3) {
    flex-basis: 20%;
}

.table__order__thead__tr__th:nth-child(4) {
    flex-basis: 20%;
}

.table__order__thead__tr__th:nth-child(5) {
    flex-basis: 15%;
}

.table__order__thead__tr__th:nth-child(6) {
    flex-basis: 15%;
}

.table__order__thead__tr__th:nth-child(7) {
    flex-basis: 10%;
}

.table__order__tbody__tr__td:nth-child(1) {
    flex-basis: 10%;
    color: #7d5fff;
}

.table__order__tbody__tr__td:nth-child(2) {
    flex-basis: 30%;
    color: #32ff7e;
}

.table__order__tbody__tr__td:nth-child(3) {
    flex-basis: 20%;
    color: #fff200;
}

.table__order__tbody__tr__td:nth-child(4) {
    flex-basis: 20%;
    color: #ff3838;
}

.table__order__tbody__tr__td:nth-child(5) {
    flex-basis: 15%;
    color: #18dcff;
}

.table__order__tbody__tr__td:nth-child(6) {
    flex-basis: 15%;
    color: #fff;
}

.table__order__tbody__tr__td:nth-child(7) {
    flex-basis: 10%;
}

.openProductDetails {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #191e3a;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    color: #7d5fff;
    transition: 0.2s;
}