.Product__Info__Container {
    width: calc(100vw - 260px);
    height: 100vh;
    padding: 20px;
    background-color: #191e3a;
    border-radius: 10px;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
}

.Product__Info__Container::-webkit-scrollbar {
    width: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.Product__Info__Content {
    width: 100%;
    height: max-content;
    background-color: #191e3a;
    border-radius: 10px;
}

.Product__Info__Content__1 {
    gap: 10px;
    justify-content: space-between;
}

.Product__Info__Content__Image__Box {
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.Product__Info__Content__1__Image__1__Box {
    background-color: #191e3a;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.Product__Info__Content__Image__Slide__Box {
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    gap: 20px;
}

.Product__Info__Content__1__Image__Title {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    color: #32ff7e;
    justify-content: center;
}

.Product__Info__Content__Image {
    width: 100%;
    height: 100%;
    border: 3px solid #32ff7e;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.Product__Info__Content__Image img {
    width: 50%;
    height: max-content;
}

.Product__Info__Content__Image__Update {
    color: #fff;
    border-radius: 2px;
    padding: 5px 8px;
    cursor: pointer;
    gap: 5px;
    font-size: 14px;
    width: 100%;
    justify-content: center;
}

.Product__Info__Content__Image__Update__Button__Group {
    width: 100%;
    justify-content: space-around;
}

.Product__Info__Content__2 {
    background-color: var(--bg-color);
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.Product__Info__Content__2__Input__Box {
    width: 100%;
    gap: 20px;
}

.Product__Info__Content__2__Input {
    flex-direction: column;
    gap: 10px;
    min-width: 270.5px;
}

.Product__Info__Content__2__Input label {
    color: #32ff7e;
    font-size: 14px;
    font-weight: 500;
}

.Product__Info__Content__2__Input input {
    outline: none;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--bg-color);
    border: 1px solid #32ff7e4f;
    line-height: 20px;
}

.Product__Info__Save {
    border: 1px solid #32ff7e;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    align-self: baseline;
    color: #32ff7e;
    background-color: var(--bg-color);
}

.Product__Info__Content__3 {
    justify-content: flex-end;
}

.Product__Info__Content__Title {
    font-size: 25px;
    font-weight: 500;
    color: #32ff7e;
}

.Product__Info__Content__2__Input__Error,
.Update__Input__SanPham__Error {
    font-size: 12px;
    color: #ff3838;
    width: 100%;
    display: none;
}

.Product__Info__Content__2__Input__Error.active,
.Update__Input__SanPham__Error.active {
    display: flex;
}

#inputUpdateImage-1,
#inputUpdateImage-2,
#inputUpdateImage-3 {
    display: none;
}

.Product__Info__Content__Image__Update button,
.Product__Info__Content__Image__Update label {
    border: none;
    outline: none;
    background-color: #32ff7e;
    color: #fff;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 3px;
}

#cancelUpdateImage-1, #cancelUpdateImage-2, #cancelUpdateImage-3 {
    background-color: #ff3838;
}

.Update__Quantity__Product__Form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-color);
    padding: 20px;
    min-width: 300px;
    border-radius: 10px;
}

.Update__Quantity__Product__Form__Input {
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.Update__Quantity__Product__Form__Input input {
    outline: none;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--bg-color);
    border: 1px solid #32ff7e4f;
    line-height: 20px;
}

.Update__Quantity__Product__Form__Input label {
    color: #32ff7e;
    font-size: 14px;
    font-weight: 500;
}

.Update__Quantity__Product__Save {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    align-self: baseline;

    background-color: #32ff7e;
}

.Update__Quantity__Product__Form__Title {
    color: #7d5fff;
    font-weight: 500;
    font-size: 17px;
}

.loading__box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 170px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 900;
    -webkit-text-stroke: 1px #7d5fff;
    color: transparent;
}

.loading__box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: text 2s ease-in-out forwards infinite;
}

.loading {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
        box-shadow: 1px 3px 2px #7d5fff;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 3px 2px #7d5fff;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 3px 2px #7d5fff;
    }
}

@keyframes text {
    0% {
        -webkit-text-stroke: 1px #7d5fff;
    }
    50% {
        -webkit-text-stroke: 1.5px #7d5fff;
    }
    100% {
        -webkit-text-stroke: 1px #7d5fff;
    }
}

.alert__notify__box__success,
.alert__notify__box__failed {
    position: fixed;
    top: 80px;
    right: -300px;
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    gap: 15px;
    width: 300px;
    transition: 0.5s;
}

.alert__notify__box__success.active,
.alert__notify__box__failed.active {
    right: 10px;
}

.alert__notify__box__success__close,
.alert__notify__box__failed__close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
}

.alert__notify__box__success {
    border-left: 5px solid #32ff7e;
}

.alert__notify__box__failed {
    border-left: 5px solid #ff3838;
}

.alert__notify__box__success__left,
.alert__notify__box__failed__left {
    font-size: 30px;
    align-items: center;
}

.alert__notify__box__success__left,
.alert__notify__box__success__close {
    color: #32ff7e;
}

.alert__notify__box__failed__left,
.alert__notify__box__failed__close {
    color: #ff3838;
}

.alert__notify__box__success__right,
.alert__notify__box__failed__right {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.alert__notify__box__success__right__title,
.alert__notify__box__failed__right__title {
    font-size: 15px;
    font-weight: 500;
}

.alert__notify__box__success__right__title {
    color: #32ff7e;
}

.alert__notify__box__failed__right__title {
    color: #ff3838;
}

.alert__notify__box__success__right__content,
.alert__notify__box__failed__right__content {
    font-size: 12px;
    color: #111;
    font-weight: 500;
}

.alert__notify__box__success__progress,
.alert__notify__box__failed__progress {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 3px;
    border-radius: 5px;
}

.alert__notify__box__success__progress.active,
.alert__notify__box__failed__progress.active {
    animation: progress 5s forwards;
}

.alert__notify__box__success__progress {
    background-color: #32ff7e;
}

.alert__notify__box__failed__progress {
    background-color: #ff3838;
}

@keyframes progress {
    100% {
        width: 0;
    }
}